extends fragments/structure

append var
    - website_title = project.name

append style
    // TODO roboto mono download
    link(href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet')
    link(rel="stylesheet", href="/static/css/home/pages/project.css")
    link(rel="stylesheet", href="/static/css/home/elements/markdown.css")
    link(rel="stylesheet", href="/static/css/external/hljs/monokai-sublime.css")

append script
    script(src="/static/js/external/hljs/highlight.min.js")
    script(src="/static/js/home/project.js")

append content
    div#info
        div.box
            p.text-medium.bold Project Info

            a.text-mediumsmall.descriptor Name:
            a.text-mediumsmall=project.name

            if project.startDate
                a.text-mediumsmall.descriptor Started:
                a.text-mediumsmall=project.startDate

            if project.endDate
                a.text-mediumsmall.descriptor Finished:
                a.text-mediumsmall=project.endDate
            else if !project.endDate && project.startDate
                a.text-mediumsmall.descriptor Finished:
                a.text-mediumsmall Unfinished

            if project.source
                a(href=project.source, target="_blank").text-mediumsmall.descriptor Source Code

            if project.preview
                a(href=project.preview, target="_blank").text-mediumsmall.descriptor Preview / Demo

        div.box
            p.text-medium.bold Table of Contents

            each heading in table_of_contents
                a(href=heading.url)=heading.title
    div.markdown
        != markdown
