extends fragments/structure

append content
    h2 User Usage Logs
    if usageLogs.length > 0
        table
            each usage in usageLogs
                tr
                    th= usage.first_seen
                    th= usage.session
                    th Duration
                - let nextTimestamp = null
                each log, index in usage.lines
                    tr
                        td= log.timestamp
                        td= log.line
                        if (index < usage.lines.length - 1)
                            - nextTimestamp = usage.lines[index + 1].timestamp
                            - const diff = new Date(nextTimestamp) - new Date(log.timestamp)
                            - const diffSeconds = Math.floor(diff / 1000)
                            td= diffSeconds + 's'
                        else
                            td N/A
    else
        p No usage logs found.
