extends fragments/structure

append style
    link(rel="stylesheet", href="/static/css/admin/pages/project.css")

append content
    form#form(enctype="multipart/form-data")
        div.flex-row.gap-20px
            div.flex-column.flex-grow
                a name
                input(type="text", minlength=1, name="name", value=project.name)
            div.flex-column
                a start
                input(type="date", name="startDate", value=project.startDate)
            div.flex-column
                a end
                input(type="date", name="endDate", value=project.endDate)
        a topics
        input(type="text", name="topics", value=project.topics.join(","))
        a categories
        input(type="text", name="categories", value=project.categories.join(","))
        a description
        textarea(name="description")=project.description
        a source
        input(type="text", name="source", value=project.source)
        a preview
        input(type="text", name="preview", value=project.preview)
        div.flex-row.gap-10px
            a isPublished
            input(type="checkbox", name="published", checked=project.isPublished)
        a banner
        input(type="file", id="banner", name="banner")
        label#file-name.fake-input(for="banner") 📁 Upload Banner
        input#save(type="submit", value="Save")
    //input#delete(type="button", value="Delete")

append script
    script(src="/static/js/admin/project.js")
