a(href="/project/" + project.id).card-project-wrapper.effect-shine(data-start-date=project.startDate, data-topics=JSON.stringify(project.topics))
    img.img(src="/static/resources/projects/" + project.banner)
    div.info
        div.title
            p.name.text-big=project.name
            p.text-mediumsmall=project.startDate
            if project.endDate
                p.text-mediumsmall=" - " + project.endDate
        div.topics
            for category in project.topics
                p.category=category
            for detail in project.details
                p=detail
